<div id="page-content">
<div class="container" id="index-container">
  <h1 class="text-center mt-4"><strong>Login For Alpha Blog</strong></h1>
  <div class="shadow p-3 mb-5 bg-info rounded text-center">
    <%= render 'form' %>
  </div>

  <p></p>
  <div class="text-center">
    <a href="<%=root_path%>">[ Cancle and return to Home Page ]</a>
  </div>
</div>
</div>
