<h1>Showing Article Details</h1>

<div>
  <p><Strong>Title: </Strong><%=@article.title%></p>
  <p><Strong>Description: </Strong><%=@article.description%></p>
</div>



<p></p>
<div>

  <% if (logged_in? && (@article.user_id == session[:user_id]))%>
    <a href="/articles/<%=@article.id%>/edit">Edit</a> |
    <%= link_to 'Delete', article_path(@article), method: :delete, data: {confirm: "Are you sure?"} %> |
  <% end %>
  <a href="/articles">Return To Article Listing</a>
</div>